
<!-- Copyright 2021 Johnathan Pennington | All rights reserved. -->

<!-- Test push to multiple remotes. -->

<meta charset="utf-8">
<title>WORD&#x21E8;PLAY</title>
<meta name="description" content="Find surprising connections between words.">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="apple-touch-icon" href="{{ url_for('static', filename='apple_touch_icon.png') }}">
